@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Mi mascota</h1>
    <img src="https://cdn.pixabay.com/photo/2018/08/08/23/38/welschcorgi-3593486_1280.jpg" alt="Mi Mascota" width="800" />
    <br>
    <br>    
    <article>
        <p>Mi mascota se llama balita, es muy jugeton y come mucho</p>
    </article>
</div>
